/* Bootstrap override */

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 5px;
  padding-left: 5px;
}
.container{
  padding-right: 5px;
  padding-left: 5px;
  max-width: 100%;
}
.row{
  padding-right: -5px;
  padding-left: -5px;
}
/* Bootstrap override */
body{
  background: #3f406c;
  padding-top: 30px;
}
header{
  height: 30px;
  line-height: 30px;
  padding-left: 30px;
  background: #52557e;
  color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
}
.logo{
  float: left;
  height: 30px;
  color: #fff;
  text-decoration: none;
}
.logo:hover{
  color: #fff;
  text-decoration: none;
}
.logo span{
  font-size: 13px;
  padding-left: 10px;
}
.subscribe{
  float: right;
  height: 30px;
  background: #5a5f89;
}
.subscribe input {
  height: 30px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 11px;
  width: 240px;
  color: #fff;
  float: left;
  padding: 5px;
}
.subscribe a {
  float: left;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 11px;
  background: #aa8ed9;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #fff;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #fff;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
 color:    #fff;
}


main{
  padding: 50px 5%;
}

.tile{
  background: #5a5f89;
  color: #fff;
  font-size: 12px;
  margin-bottom: 10px;
  height: 420px;
  overflow: hidden;

  -webkit-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.tile:hover .img-holder{
  height: 0px;
}
.tile:hover .content .about{
  height: 253px;
}
.tile .img-holder{
  -webkit-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  height: 185px;
  overflow: hidden;
}
.tile .img-holder img{
  width: 100%;
  min-height: 100%;
}
.tile .content{
  padding: 15px;
}
.tile .content .hint{
  font-size: 10px;
  color: #afb4dc;
  padding-bottom: 10px;
}
.tile .content .title{
  font-size: 25px;
  font-weight: bold;
  max-width: 400px;
}
.tile .content .about{
  -webkit-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  margin: 15px 0px;
  height: 68px;
  overflow: hidden;
}
.tile .content .details{
  color: #afb4dc;
  font-size: 10px;
}
.tile .content .details >span:last-child{
  padding-left: 10px;
}
.tile .content .details >span span{
  padding-right: 2px;
}
.tile .info{
  padding: 50px;
}
.tile .info .title{
  font-size: 35px;
  font-weight: bold;
  padding: 20px 0px;
}
.tile .info a{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  background: #aa8ed9;
  border-radius: 2px;
}